# Add the following to your gitignore:

# Optional: Generic Modpack Ignores
**/*.log
**/*.mixin.out
/saves
/downloads
/resourcepacks
/journeymap
.curseclient
options.txt

# other useless stuff (gets updated on it's own)
config/splash.properties
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei

config/BiomeTweaker/output
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/brandon3055/contributors.json
BotaniaVars.dat

XaeroWaypoints
XaeroWorldMap
astralsorcery
screenshots
usercache.json
usernamecache.json

crash-reports/
local/
logs/
valkyrielib/

# those configs change sometimes, not sure if they are needed

config/thaumicjei_itemstack_aspects.json
config/astralsorcery/amulet_enchantments.cfg
config/AppliedEnergistics2/CustomRecipes.cfg

