# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        gravel.json
        stone.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
        gravelNBT.txt
        stoneNBT.txt
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Forge=true
    B:Loot=true
    B:Player=true
    B:Score=true
    B:Utils=true
    B:World=true
}


